body {
     margin: 8px;
    background-color: rgb(32, 84, 179);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  
  main{
    width: 900px;
   margin: 20px auto 50px auto;
   background-color: white;
  }
  
  figure {
    margin: 0px;
  }
  
  .hero{
    position:relative;
  }
  
  img.inspiration{
    width: 900px;
    height: 500px;
  }  
  
  div.title {
    position: absolute;
    top: 150px;
    left: 100px;
    padding: 20px;
  }

  #contact{
      cursor: pointer;
      background-color: brown;
      color: white;
      text-align: center;
      align-content: center;
      font-size: 25px;
    margin-left: 30%;
    padding: 5px 15px; 
    width: 200px;
    height:2em;
    font-family: 'Times New Roman', Times, serif;

  }
  
  h1{
    font-size: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 6px;
  }
  
  #developer {
    text-indent: 20px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  div.social{
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 21px;
  }

  .gith{
    width: 30px;
    height: 30px;
  }

  .linkden{
    width: 30px;
    height: 30px;
  }
  
  article{
   
    padding: 10px 210px;
      font-size: 25px;
  }

  h2{
      font-size: 35px;
    }

  div.Portfolio{

    min-height: 1400px;
    background-color: black;
    position:relative;
    padding: 30px;
  }

  h3{
    color: white;
    font-size: 35px;
  }

  .disport{
  position: absolute;
  top: 20px;
  /* left:30px; */
   
  }

  .row{
    width:100%;
     /* width: 900px;  */
    position: absolute;
    top: 130px;
    /* left: 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    /* justify-content: space-between; */
    }

  .column{
      width:27%;
      min-height: 200px;
      padding: 10px 16px 10px 16px; 
      margin: 0px 2px 0px 2px; 
      color: white;
      text-align: center;
      font-size: 18px;
      height: fit-content;
   }
 
   div.container {
    position: absolute;
    top: 600px;
    width: 320px;
    /* border-radius: 3px; */
    /* padding: 10px; */
  }

  label{
    color: white;
  }

 
  input {
    width: 100%;
    padding: 10px 16px 10px 16px;
    margin: 8px 0px 8px 0px;
    border: none;
    /* border-radius: 5px; */
  }
  
  input:hover {
    background-color: yellow;
  }
  
  #message {
    width: 100%;
    padding: 10px 16px 10px 16px; 
    margin: 8px 0px 8px 0px; 
    border: none;
    /* border-radius: 5px; */
  }
  
  #submitfor {
    background-color: #074227;
    cursor: pointer;
    color: white;
    padding: 10px 20px 10px 20px;
  }
  


  div.socialp{
    width: 260px;
    position: absolute;
    top: 710px;
    right: 25px;
    padding: 5px;
  }

  .linkdenp{
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 15px;
  }

  .githp{
    width: 40px;
    height: 40px;
    float: left;
    padding-right: 15px;
  }