* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body {
    height: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 100%; 
    }

    .hero{
  position:relative;
}

img.inspiration{
  width: 100%; 
  height: 70vh;
}  

div.title {
  position: absolute;
  top:30vh;
  left: 25vw; 
  padding: 20px;

}

article{
 
  padding: 1.5vh 15vw;
    font-size: 2.5vw;
    background-color: white;
}

h2{
     font-size: 2.5vw;
  }

#contact{
    cursor: pointer;
    background-color: brown;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 1.9vw;
    margin-left: 30%;
    padding: 1px 5px; 
    width: 14vw;
    height:2em;
    font-family: 'Times New Roman', Times, serif;

}

h1{
   font-size: 3.5vw;
 }

#developer {
   font-size: 1.9vw;
  font-weight: 600;
  text-align: center;
}

div.social{
  position: absolute;
  top: 7vw;
  right: 7vw;
  width: 15vw;
  height: 10vh;
}

div.Portfolio{
  width: 100%;
  background-color: black;
  position:relative;
}



.disport{
position: absolute;
top: 1vh;
left: 4vw;
 }

 label{
  color: white;
  font-size: 3vw;
 }


 input {
  width: 100%;
  height: 5vh;
  padding: 0.5vh 1vw 0.5vh 1vw;
  border: none;
  font-size: 3em;
 }

input:hover {
  background-color: yellow;
}

#message {
  width: 100%;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 8px 0px 8px 0px; 
  border: none;
  height: 10vh;
}

#submitfor {
  background-color: #074227;
  cursor: pointer;
  color: white;
  padding: 1px 2px 1px 2px;
  font-size: 2vw;
}

.column p{
  font-size: 0.4em;
}

li{
  font-size: 1.5vw;
  text-align: left;
}



@media screen and (max-width: 500px)

{
.row{
  display: flex; 
  width:100%;
  position: absolute;
  top: 7vh;
  flex-direction: column;
   flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  }


.column{
  min-width: 92%; 
  min-height: 200px;
  padding: 10px 16px 10px 16px; 
  margin: 0px 2px 0px 2px; 
  color: white;
  font-size: 18px;
  height: fit-content;
}

.touch{

  width: 100%;
  height: 5vh;
  position: absolute;
  top: 155vh;
  left: 5.2vw;
  
}

div.container {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 160vh;
   left: 4vw;
   width: 50vw;
 }

div.socialp{
   position: absolute;
   top: 162vh;
  right: 5vw;
  padding: 5px;
} 

label{
  color: white;
  font-size: 4vw;
 }


input {
  width: 100%;
  height: 4vh;
  padding: 0.5vh 1vw 0.5vh 1vw;
  border: none;
  font-size: 1em;
  }

#message {
  width: 100%;
   padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 8px 0px 8px 0px; 
   border: none;
  height: 10vh;
}

#submitfor {
  background-color: #074227;
  cursor: pointer;
  color: white;
  padding: 1px 2px 1px 2px;
  font-size: 3vw;
}

.column p{
  font-size: 1em;
}
li{
  font-size: 0.8rem;
}

.disport h3{
   font-size: 4vw;
   color: white;
}

.touch h4{
   font-size: 4vw;
}

.footerblack {
 position: absolute;
 left: 0;
 top: 207vh;
 width: 100%;
 height: 10px;
 background-color: black;
} 

} 

@media screen 
and (min-width: 501px)
and (max-width:990px)
{
.row{
   display: flex; 
   width:100%;
  position: absolute;
   top: 7vh;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  }


.column{
   min-width: 44%; 
   min-height: 200px;
  padding: 10px 16px 10px 16px; 
  margin: 0px 2px 0px 2px; 
  color: white;
  text-align: center;
  font-size: 18px;
  height: fit-content;
}

.touch{
  position: absolute;
  top: 67vh;
  left: 5.5vw;
  
}


  div.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 73vh;
  left: 55px;
  width: 50vw;
 }

 div.socialp{
   width: 40vw;
   position: absolute;
   top: 75vh;
  left: 65vw;
  } 

  label{
    color: white;
    font-size: 2.5vw;
   }
  
  
   input {
    width: 100%;
    height: 4vh;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border: none;
    font-size: 2.5vw;
   }
  
  input:hover {
    background-color: yellow;
  }
  
  #message {
    width: 100%;
    padding: 0.5vh 1vw 0.5vh 1vw;
    margin: 8px 0px 8px 0px; 
    border: none;
    height: 10vh;
    font-size: 2.5vw;
  }
  
  #submitfor {
    background-color: #074227;
    cursor: pointer;
    color: white;
    padding: 1px 2px 1px 2px;
    font-size: 2.5vw;
  }

  .footerblack {
   position: absolute;
   left: 0;
   top: 117vh;
   width: 100%;
   height: 1px;
   background-color: black;
  } 

  .disport h3{
      color: white;
        font-size: 2.5vw;
  }
  
  .touch h4{
     font-size: 2.5vw;
  }


}




@media screen and (min-width: 990px)
{
.row{
display: flex; 
width:100%;
position: absolute;
top: 10vh;
flex-direction: row;
flex-wrap: wrap; 
align-items: center;
justify-content: center;
}


.column{
width: 30%; 
min-height: 30vh;
padding: 10px 16px 10px 16px; 
margin: 0px 2px 0px 2px; 
color: white;
text-align: center;
font-size: 3em;
height: fit-content;
}

.touch{
  position: absolute;
  top: 73vh;
  left: 4.5vw;
  
}

div.container {
display: flex;
width: 100%;
position: absolute;
top: 82vh;
flex-direction: row;
flex-wrap: wrap; 
justify-content: center;
}

.myform{
  width: 46%; 
  padding: 10px 16px 10px 16px; 
  margin: 0px 2px 0px 2px;  
  color: white;
  
  }

label{
  color: white;
  font-size: 1.5vw;
 }


 input {
  width: 100%;
  height: 5vh;
  padding: 0.5vh 1vw 0.5vh 1vw;
  border: none;
  font-size: 1.5vw;
 }

input:hover {
  background-color: yellow;
}

#message {
  width: 100%;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 8px 0px 8px 0px; 
  border: none;
  height: 20vh;
  font-size: 1.5vw;
}

#submitfor {
  background-color: #074227;
  cursor: pointer;
  color: white;
  padding: 1px 2px 1px 1px;
  font-size: 2vw;
}

.footerblack {
 position: absolute;
 left: 0;
 top: 135vh;
 width: 100%;
 height: 55px;
 background-color: black;

} 

div.socialp{
  position: absolute;
  top: 105vh;
  left: 4vw;
  padding: 15px;
  }

 #message {
  width: 100%;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 8px 0px 8px 0px; 
  border: none;
  height: 20vh;
  font-size: 1.5vw;
}
.disport h3{
  color: white;
  font-size: 2.5vw;
}

.touch h4{
   font-size: 2.5vw;
}
#submitfor {
  background-color: #074227;
  cursor: pointer;
  color: white;
  padding: 1px 2px 1px 2px;
  font-size: 2vw;
} 
}
